.page-banner {
    margin-left: calc(50% - 50vw);
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    position: relative;
    &-text {
        position: absolute;
        bottom: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 41px 78px;
        border-radius: 37px 37px 0px 0px;
        p {
            color: #4d5053;
            font-family: "Jost", sans-serif;
            font-size: 22px;
        }
    }
}

.recent {
    margin-bottom: 150px !important;
    &-box {
        display: flex;
        align-items: center;
        gap: 65px;
        padding: 22px;
        border: 1px solid #e7e7e7;
        border-radius: 62px;
    }

    h2 {
        margin-bottom: 20px;
    }

    img {
        border-radius: 50px;
    }
    &-text {
        width: 40%;
        h3 {
            margin-bottom: 22px;
        }
        p {
            color: #4d5053;
            font-family: "Jost", sans-serif;
            font-size: 22px;
        }
    }
    &-description {
        margin-bottom: 40px;
    }
    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        :hover {
            cursor: pointer;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 52px;
        border: 1px solid #cda274;
        border-radius: 50%;
        span {
            font-family: Jost;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
        &:hover {
            cursor: pointer;
            background-color: #f4f0ec;
        }
    }
    svg:hover {
        cursor: pointer;
        circle {
            fill: #f4f0ec;
        }
    }
}
