<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <label for="sortBy">Сортировать по:</label>
            <select v-model="selected" v-on:change="sortProducts">
                <option value="descend">Убыванию</option>
                <option value="ascend">Возрастанию</option>
            </select>
            <ul>
                <li v-for="product in products">
                    <p>{{product.name}} : {{product.price}}</p>
                </li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
        <script>
            new Vue({
                el: "#app",
                data: {
                    products: [
                        {
                            name: "Product 1",
                            price: 146,
                        },
                        {
                            name: "Product 2",
                            price: 50,
                        },
                        {
                            name: "Product 3",
                            price: 225,
                        },
                        {
                            name: "Product 4",
                            price: 152,
                        },
                    ],
                    selected: "",
                },
                methods: {
                    sortProducts() {
                        this.products.sort((a, b) => {
                            if (this.selected === "descend") {
                                return b.price - a.price;
                            } else {
                                return a.price - b.price;
                            }
                        });
                    },
                },
            });
        </script>
    </body>
</html>
